<mat-card class="d-m">

    <!-- Título -->
    <mat-card-title>Artigos publicados</mat-card-title>

    <!-- Form -->
    <mat-card-subtitle>

        <!-- Loading -->
        <mat-progress-spinner *ngIf="loading; else artigosTable" class="d-flex" mode="indeterminate"></mat-progress-spinner>

        <ng-template #artigosTable>
            <table mat-table [dataSource]="listaArtigos" class="full-width">

                <!-- Título -->
                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef> Título </th>
                    <td mat-cell *matCellDef="let artigo"> {{artigo.titulo}} </td>
                </ng-container>

                <!-- Ações -->
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Ações </th>
                    <td mat-cell *matCellDef="let artigo" style="width: 150px;">
                        <button mat-icon-button aria-label="Editar" class="mat-button-hover-actions hover-div"
                            routerLink="/artigo/{{artigo.id}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Header -->
                <tr mat-header-row *matHeaderRowDef="columns"></tr>

                <!-- Rows -->
                <tr mat-row routerLink="/artigo/{{row.id}}" *matRowDef="let row; columns: columns;"></tr>

            </table>
        </ng-template>
    </mat-card-subtitle>

</mat-card>