section {
    padding: 24px;
    margin: 0 auto;
    max-width: 900px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.horizontal.left {
    justify-content: flex-start;
}

rect,
path {
    cursor: pointer;
}

.tooltip,
.box {
    background-color: white;
    border: 2px solid black;
    box-shadow: var(--shadow);
    padding: 16px;
}

.tooltip {
    position: absolute;
    font-size: 16px;
    max-width: 550px;
}

.tooltip.expanded {
    border: 4px solid black;
}

.tooltip>svg {
    margin: 0 auto;
}

.tooltip b {
    font-size: 20px;
}

button {
    position: relative;
    appearance: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    box-shadow: none;
    cursor: pointer;
}

#visualizer text {
    font-weight: bold;
    font-size: 10px;
    fill: white;
}

#visualizer rect.active {
    stroke: black;
    stroke-width: 2px;
    fill: var(--secondary) !important;
}

button.toggle,
button.play {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background: white;
    margin: -3px 0;
}

button.toggle {
    min-width: 90px;
}

button.toggle:hover {
    opacity: 1 !important;
}

button.toggle:not(.active) {
    opacity: 0.5;
}

button.toggle.active {
    font-weight: bold;
}

table {
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    margin-bottom: 24px;
}

table td {
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table td:first-of-type {
    width: 170px;
}

table td:nth-of-type(2) {
    font-weight: bold;
    min-width: 50px;
}

.box {
    overflow: auto;
    padding: 0;
}

.circle {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: var(--small-shadow);
}