<section *ngIf="noteSequence">

    <div class="midi-visualizer d-pad">
        {{noteSequence | json}}
        <span *ngFor="let note of noteSequence.notes">
            {{note}}
        </span>

    </div>

    <!-- Ações -->
    <div class="row d-pad justify-between">

        <!-- Avaliação -->
        <div class="row">
            <button mat-icon-button class="text-sucess hover-div" label="Like">
                <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button class="text-error hover-div" label="Dislike">
                <mat-icon>thumb_down</mat-icon>
            </button>
        </div>

        <button mat-button (click)="play()">
            Play <mat-icon>play_arrow</mat-icon>
        </button>

    </div>


</section>