<!-- Logo -->
<div class="homepage-logo d-flex justify-evenly align-center d-m-bottom" [class.mat-elevation-z2]="true">
    <mat-icon class="d-pad hover-div mouse-pointer" aria-hidden="false" (click)="onClickLogo()">
        library_music
    </mat-icon>
    <div class="d-flex column homepage-logo-title-container">
        <b>MIDI</b>
        <b>GAN</b>
        <b>Generation</b>
    </div>
</div>

<!-- Melody Generation -->
<div class="d-pad homepage-info">

    <h3><b>Generate a melody</b></h3>
    <p>
        The objective of the proposed GAN is the generation of melodies with a duration of thirty seconds that follow
        the appropriate structures of each genre <i>g</i> informed as input to the composition process. For this
        purpose, three
        distinct neural networks are used: G as a generator, D as a genre discriminator, and R as a quality
        discriminator.
    </p>

    <div class="row justify-end d-pad">
        <button mat-button (click)="generate()">Generate melody</button>
    </div>

    <app-player [melody]="melody"></app-player>

</div>

<!-- Rodapé -->
<footer class="d-flex column align-center d-pad homepage-footer">

    <!-- Links -->
    <div class="row d-pad-top">
        <a href="https://pt.overleaf.com/project/624b224812931430467f5955">Paper</a>
    </div>

    <!-- Logo -->
    <div class="row justify-center align-center">
        <mat-icon class="d-pad" aria-hidden="false">
            library_music
        </mat-icon>
        <span>MIDI GAN Generator - 2022</span>
    </div>

</footer>