<mat-card class="d-m">

    <!-- Título -->
    <mat-card-title>Cabeçalho</mat-card-title>

    <!-- Form -->
    <mat-card-subtitle class="d-pad-top">
        <form [formGroup]="form">

            <!-- Título -->
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput formControlName="titulo" placeholder="Digite o título do seu artigo..." cdkFocusInitial
                    required>
            </mat-form-field>

            <!-- Erros do título -->
            <mat-error class="d-m-bottom" *ngIf="tituloControl!.errors?.['maxLenght']">
                O <b>título</b> não pode possuir mais do que 80 caracteres!
            </mat-error>

            <!-- Categoria -->
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Categoria</mat-label>
                <input #categoriaInput type="text" placeholder="Selecione..." aria-label="Categoria" matInput
                    [matAutocomplete]="auto" formControlName="categoria" (input)="filtrarCategoria()"
                    (focus)="categoriaAutocomplete.onFocusAutocomplete()" required>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of categoriaAutocomplete.optionsFiltradas | async" [value]="option">
                        {{option.descricao}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- Descrição -->
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="descricao" placeholder="Descreva seu artigo brevemente..." required>
            </mat-form-field>

            <!-- Erros da descrição -->
            <mat-error class="d-m-bottom" *ngIf="descricaoControl!.errors?.['maxLenght']">
                A <b>descrição</b> não pode possuir mais do que 140 caracteres!
            </mat-error>

            <!-- Palavras-chave -->
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Palavras-chave</mat-label>
                <input matInput formControlName="palavrasChave" placeholder="Palavras-chave do artigo... (separe por , ou ;)" required>
            </mat-form-field>

        </form>
    </mat-card-subtitle>

</mat-card>