<mat-card class="d-m">

    <!-- Título -->
    <mat-card-title>Interesses</mat-card-title>

    <!-- Interesses -->
    <mat-card-subtitle class="d-pad-top">
        <mat-form-field class="full-width" appearance="fill">

            <!-- Chip list -->
            <mat-chip-list #chipList aria-label="Seleção de interesses">
                <mat-chip *ngFor="let interesse of listaInteresses" [selectable]="false" [removable]="true"
                    (removed)="removerInteresse(interesse)">
                    {{interesse.descricao}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="Novo interesse..." #interessesInput [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" (focus)="interesseAutocomplete.onFocusAutocomplete()" (input)="filtrarInteresse()">
            </mat-chip-list>

            <!-- Autocomplete -->
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="adicionarInteresse($event)">
                <mat-option *ngFor="let interesse of interesseAutocomplete.optionsFiltradas | async" [value]="interesse">
                    {{interesse.descricao}}
                </mat-option>
            </mat-autocomplete>

        </mat-form-field>
    </mat-card-subtitle>

</mat-card>