<div class="d-flex column d-pad">

    <!-- Título -->
    <h2 class="d-flex align-center d-m mat-elevation-z2 accent-hover align-self-start">
        <b class="d-m-right">Artigo</b>
        <mat-icon class="icon-offset-top">description</mat-icon>
    </h2>

    <!-- Card cabeçalho -->
    <app-card-artigo-cabecalho class="full-width"></app-card-artigo-cabecalho>

    <!-- Ações -->
    <div class="d-flex justify-end d-m">
        
        <!-- Spinner -->
        <mat-progress-spinner *ngIf="loading; else actionButtons" class="d-m-right full-width" mode="indeterminate"></mat-progress-spinner>

        <!-- Botões -->
        <ng-template #actionButtons>
            <button mat-button class="mat-button-sucess d-m-right" (click)="onClickPublicar()">Publicar</button>
            <button *ngIf="registro.id" mat-button class="mat-button-warn" (click)="onClickRemover()">Excluir</button>
        </ng-template>

    </div>

    <!-- Card texto -->
    <app-card-artigo-texto class="full-width"></app-card-artigo-texto>

</div>